# personal testing file
vars.sh

# Logs
logs
*.log

# VSCode configuration file
.vscode

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# DevOps task key
.taskkey

# distribution files and folders
*.js
*.js.map
*.vsix
dist/